################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudioAPI/.vs/StudioAPI
/StudioAPI/StudioBack/bin/Debug/net8.0
/.vs
