################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudioAPI/.vs/StudioAPI
/StudioAPI/StudioBack/bin/Debug/net8.0
/StudioAPI/StudioBack/obj/Debug/net8.0/StudioBack.AssemblyInfo.cs
/StudioAPI/StudioBack/obj/Debug/net8.0/StudioBack.AssemblyInfoInputs.cache
/StudioAPI/StudioBack/obj/Debug/net8.0/StudioBack.csproj.AssemblyReference.cache
/StudioAPI/StudioDataAccess/obj/Debug/net8.0/StudioDataAccess.AssemblyInfo.cs
/StudioAPI/StudioDataAccess/obj/Debug/net8.0/StudioDataAccess.AssemblyInfoInputs.cache
/StudioAPI/StudioDataAccess/obj/Debug/net8.0/StudioDataAccess.csproj.AssemblyReference.cache
/StudioAPI/StudioModel/obj/Debug/net8.0/StudioModel.AssemblyInfo.cs
/StudioAPI/StudioModel/obj/Debug/net8.0/StudioModel.AssemblyInfoInputs.cache
/StudioAPI/StudioService/obj/Debug/net8.0/StudioService.AssemblyInfo.cs
/StudioAPI/StudioService/obj/Debug/net8.0/StudioService.AssemblyInfoInputs.cache
/StudioAPI/StudioService/obj/Debug/net8.0/StudioService.csproj.AssemblyReference.cache
/StudioAPI/.vs/ProjectEvaluation/studioapi.metadata.v7.bin
/StudioAPI/.vs/ProjectEvaluation/studioapi.projects.v7.bin
/StudioAPI/StudioBack/obj/Debug/net8.0/StudioBack.assets.cache
/StudioAPI/StudioBack/obj/Debug/net8.0/StudioBack.GeneratedMSBuildEditorConfig.editorconfig
/StudioAPI/StudioDataAccess/obj/Debug/net8.0/StudioDataAccess.assets.cache
/StudioAPI/StudioDataAccess/obj/Debug/net8.0/StudioDataAccess.GeneratedMSBuildEditorConfig.editorconfig
/StudioAPI/StudioModel/obj/Debug/net8.0/StudioModel.assets.cache
/StudioAPI/StudioModel/obj/Debug/net8.0/StudioModel.GeneratedMSBuildEditorConfig.editorconfig
/StudioAPI/StudioService/obj/Debug/net8.0/StudioService.GeneratedMSBuildEditorConfig.editorconfig
/StudioAPI/StudioService/obj/Debug/net8.0/StudioService.assets.cache
/StudioAPI/StudioBack/obj/project.assets.json
/StudioAPI/StudioBack/obj/project.nuget.cache
/StudioAPI/StudioBack/obj/StudioBack.csproj.nuget.dgspec.json
/StudioAPI/StudioBack/obj/StudioBack.csproj.nuget.g.props
/StudioAPI/StudioDataAccess/obj/project.nuget.cache
/StudioAPI/StudioDataAccess/obj/project.assets.json
/StudioAPI/StudioDataAccess/obj/StudioDataAccess.csproj.nuget.dgspec.json
/StudioAPI/StudioDataAccess/obj/StudioDataAccess.csproj.nuget.g.props
/StudioAPI/StudioModel/obj/project.assets.json
/StudioAPI/StudioModel/obj/StudioModel.csproj.nuget.dgspec.json
/StudioAPI/StudioModel/obj/project.nuget.cache
/StudioAPI/StudioModel/obj/StudioModel.csproj.nuget.g.props
/StudioAPI/StudioService/obj/project.assets.json
/StudioAPI/StudioService/obj/project.nuget.cache
/StudioAPI/StudioService/obj/StudioService.csproj.nuget.dgspec.json
/StudioAPI/StudioService/obj/StudioService.csproj.nuget.g.props
*.wsuo
*.json
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.vsidx
