################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudioAPI/.vs/StudioAPI
/StudioAPI/StudioBack/bin/Debug/net8.0
/StudioAPI/StudioBack/obj/Debug/net8.0/StudioBack.AssemblyInfo.cs
/StudioAPI/StudioBack/obj/Debug/net8.0/StudioBack.AssemblyInfoInputs.cache
/StudioAPI/StudioBack/obj/Debug/net8.0/StudioBack.csproj.AssemblyReference.cache
/StudioAPI/StudioDataAccess/obj/Debug/net8.0/StudioDataAccess.AssemblyInfo.cs
/StudioAPI/StudioDataAccess/obj/Debug/net8.0/StudioDataAccess.AssemblyInfoInputs.cache
/StudioAPI/StudioDataAccess/obj/Debug/net8.0/StudioDataAccess.csproj.AssemblyReference.cache
/StudioAPI/StudioModel/obj/Debug/net8.0/StudioModel.AssemblyInfo.cs
/StudioAPI/StudioModel/obj/Debug/net8.0/StudioModel.AssemblyInfoInputs.cache
/StudioAPI/StudioService/obj/Debug/net8.0/StudioService.AssemblyInfo.cs
/StudioAPI/StudioService/obj/Debug/net8.0/StudioService.AssemblyInfoInputs.cache
/StudioAPI/StudioService/obj/Debug/net8.0/StudioService.csproj.AssemblyReference.cache
